<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} TKD [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.json4s" level="info"/>
    <logger name="com.mongodb" level="info"/>
    <logger name="com.novus" level="info"/>


    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>